{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit page
{% endblock %}

{% block body %}
    <h1>Edit page</h1>
    <form method="post">
    {% csrf_token %}
    {% for part in form %}
    <div><label class="new-entry-form" for="{{ part.id_for_label }}"> {{ part.label }}: </label><div class="new-entry-form-textarea">{{ part }}</div></div>
    <div>{{ part.errors }}</div>
    {% endfor %}
    <div>{{ form.non_field_errors }}</div>
        <button type="submit">Save changes</button>
    </form>

{% endblock %}